<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Intoidi</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/agile_carousel.css">



<!-- Latest compiled and minified JavaScript -->
<script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="js/jssor.js"></script>
<script type="text/javascript" src="js/jssor.slider.min.js"></script>
<script type="text/javascript" src="js/resize-home.js"></script>
<script type="text/javascript" src="js/resize.js"></script>

</head>

<body>
	<div class="wrapper container-home container-fluid">
		<div class="main container">	
			<!-- Header -->
			<div class="header">
				<div class="shadow"></div>
				<div class="header-items">
					<a class="logo" href="#"><img src="images/logo.png"></a>
					<div class="nav">
						<ul>
							<li><a href="#">Create A Shirt</a> | </li>
							<li><a href="#">Product Catalog</a> | </li>
							<li><a href="#">Forum</a> | </li>
							<li><a href="#">Help</a> | </li>
							<li><a href="#">Cart <span class="cart-count">(0)</span></a> | </li>
							<li><a href="#">Account</a> | </li>
							<li><a href="#">Contact</a>  </li>
						</ul>
					</div>
				
				</div>
			</div>
			<!-- /. Header -->	
			<!-- Content -->
		  	<div class="content">
				<div class="help">
					<h4>Help Center</h4>
					<div class="help-content">
						<div class="help-items help-general">
							<h5 class="help-title">General Info</h5>
							<a href="#">Shipping & Delivery</a>
							<a href="#">Payment Options</a>
							<a href="#">FAQ</a>
							<a href="#">Money Back Guarantee</a>
							<a href="#">Contact Us</a>
						</div>
						<div class="help-items help-design">
							<h5 class="help-title">Design Studio</h5>
							<a href="#">Shipping & Delivery</a>
							<a href="#">Payment Options</a>
							<a href="#">FAQ</a>
							<a href="#">Money Back Guarantee</a>
							<a href="#">Contact Us</a>
						</div>
						<div class="help-items help-shipping">
							<h5 class="help-title">General Info</h5>
							<a href="#">Shipping & Delivery</a>
							<a href="#">Payment Options</a>
							<a href="#">FAQ</a>
						</div>
						<div class="help-items help-myaccount">
							<h5 class="help-title">My Account</h5>
							<a href="#">Shipping & Delivery</a>
							<a href="#">Payment Options</a>
							<a href="#">FAQ</a>
							<a href="#">Money Back Guarantee</a>
							<a href="#">Contact Us</a>
						</div>
						<div class="help-items help-privacy">
							<h5 class="help-title">Privacy & Security</h5>
							<a href="#">Shipping & Delivery</a>
							<a href="#">Payment Options</a>
							<a href="#">FAQ</a>						
						</div>
					</div>	
				</div>
			</div>
			<!-- /. Content -->

			<!-- Footer -->
			<div class="footer">
				<div class="footer-content">
			  		<div class="footer-items footer-items-add">
			  			<h6>Suport – We're here for you!</h6>
			  			<p class="phone">0935 288 488</p>
			  			<p class="email"> <a href="mailto:hotro@intoidi.com"> hotro@intoidi.com</a></p>
			  			<p class="address">190 Ông ích khiêm - Đà Nẵng</p>
			  		</div>
			  		<div class="footer-items">
			  			<h6>We promise</h6>
			  			<a href="#">30 Day Exchange Policy</a>
			  			<a href="#">Delivery in 3-7 working days</a>
			  			<a href="#">High quality printing</a>
			  			<a href="#">Cards accepted</a>
			  		</div>
			  		<div class="footer-items footer-items-information">
			  			<h6>Information</h6>
			  			<a href="#">Contact us</a>
			  			<a href="#">My orders</a>
			  			<a href="#">Wash Instruction</a>
			  			<a href="#">Sitemap</a>
			  		</div>
			  		<div class="footer-items footer-items-subscribe">
			  			<h6>Our Newsletter</h6>
			  			<input type="text" placeholder="Email" class="subs">
			  			<a href="" class="subscribe">Subscribe</a>
			  		</div>
			  		<div class="footer-items footer-items-social">
			  			<h6>Follow us</h6>
			  			<a href="#" class="face"></a>
			  			<a href="#" class="twi"></a>
			  			<a href="#" class="google"></a>
			  		</div>
			  		<div class="language">
			  			<a href="#" class="vi" title="Vietnamese"></a>
			  			<a href="#" class="en" title="English"></a>
			  		</div>
			  		<a href="#" class="copyright">Copyright © 2014 intoidi.com</a>
				</div>
			</div>
			<!-- /. Footer -->
		</div>
	</div>
</body>
</html>
