{% extends "pages/page.html" %}
{% load mezzanine_tags keyword_tags staticfiles pages_tags%}
{% block extra_css %}
    <!-- home page-->
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/agile_carousel.css" %}">
    <!-- end home page--->
{% endblock %}

{% block extra_js %}
    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" src="{% static "js/jquery-1.10.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jssor.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jssor.slider.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/resize-home.js"%}"></script>
    <script type="text/javascript" src="{% static "js/resize.js"%}"></script>
{% endblock %}
{% block all_content %}
    <div id="content">
    {#        Code in here      #}
    </div>
{% endblock %}




