<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Intoidi</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/payment.css">
<link rel="stylesheet" href="css/agile_carousel.css">



<!-- Latest compiled and minified JavaScript -->
<script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="js/jssor.js"></script>
<script type="text/javascript" src="js/jssor.slider.min.js"></script>
<script type="text/javascript" src="js/resize-home.js"></script>
<script type="text/javascript" src="js/resize.js"></script>
<script>
  $(function() {	    
        $( ".form-payment" ).dialog({   	 	
        	position: { my: 'top', at: 'top+90' },
        	  autoOpen: true,
	          modal: true,
	          width: 900,
	          show: {
	            effect: "blind",
	            duration: 700
	          },
	          hide: {
	            effect: "fade",
	            duration: 300
	          }
    	});      	    
  });
</script>
</head>

<body>
	<div class="wrapper container-home container-fluid">
		<div class="main container">	
			<!-- Header -->
			<div class="header">
				<div class="shadow"></div>
				<div class="header-items">
					<a class="logo" href="#"><img src="images/logo.png"></a>
					<div class="nav">
						<ul>
							<li><a href="#">Create A Shirt</a> | </li>
							<li><a href="#">Product Catalog</a> | </li>
							<li><a href="#">Forum</a> | </li>
							<li><a href="#">Help</a> | </li>
							<li><a href="#">Cart <span class="cart-count">(0)</span></a> | </li>
							<li><a href="#">Account</a> | </li>
							<li><a href="#">Contact</a>  </li>
						</ul>
					</div>

					<div class="banner">
						<div class="banner-content" id="banner-content">
							<div u="slides" class="banner-content-items">
        						<div>
        							<div class="banner-info">
										<div class="info-detail">
											<h2>Custom T-Shirts</h2>
											<span>“Create your own shirts</span>
											<span>in our online design studio”</span>
											<a href="#" class="start-design">Start Designing Now</a>
										</div>
										<p class="free-ship">Free Shipping on Orders Over $100</p>
										<p class="order">Orders of $100+ get free shipping all day, </p>
										<p class="order">every day. Valid within the continental US.</p>
									</div>
									<div class="banner-img">
						                <img u="image" src="images/banner1.png" />
						                <div u="caption" t="RTT|2" t2="NO" r3="137.5%" du3="3000" d3="500" style="position: absolute; width: 445px; height: 300px; top: 100px; left: 185px;">
						                    <img src="images/shirt-logo.png" class="shirt-logo" />
						                    <img u="caption" t="CLIP|LR" t2="NO" class="banner-color" src="images/color.png"/>
						                    <img u="caption" t="T" du="2000" t2="NO" src="images/mouse.png" class="banner-mouse" />
						                </div>
						            </div>    
					            </div>
					            <div>
					            	<div class="banner-info">
										<div class="info-detail">
											<h2>Custom T-Shirts</h2>
											<span>“Create your own shirts</span>
											<span>in our online design studio”</span>
											<a href="#" class="start-design">Start Designing Now</a>
										</div>
										<p class="free-ship">Free Shipping on Orders Over $100</p>
										<p class="order">Orders of $100+ get free shipping all day, </p>
										<p class="order">every day. Valid within the continental US.</p>
									</div>
									<div class="banner-img">
					                	<img u="image" src="images/banner2.png" />	
					                </div>					               
					            </div>
					            <div>
					                <div class="banner-info">
										<div class="info-detail">
											<h2>Custom T-Shirts</h2>
											<span>“Create your own shirts</span>
											<span>in our online design studio”</span>
											<a href="#" class="start-design">Start Designing Now</a>
										</div>
										<p class="free-ship">Free Shipping on Orders Over $100</p>
										<p class="order">Orders of $100+ get free shipping all day, </p>
										<p class="order">every day. Valid within the continental US.</p>
									</div>
									<div class="banner-img">
					                	<img u="image" src="images/banner3.png" />	
					                </div>							               
					            </div>
					            <div>
					                <div class="banner-info">
										<div class="info-detail">
											<h2>Custom T-Shirts</h2>
											<span>“Create your own shirts</span>
											<span>in our online design studio”</span>
											<a href="#" class="start-design">Start Designing Now</a>
										</div>
										<p class="free-ship">Free Shipping on Orders Over $100</p>
										<p class="order">Orders of $100+ get free shipping all day, </p>
										<p class="order">every day. Valid within the continental US.</p>
									</div>
									<div class="banner-img">
					                	<img u="image" src="images/banner4.png" />	
					                </div>						               
					            </div>						        
            					</div>
						        <!-- bullet navigator container -->
						        <div u="navigator" class="jssorb21">
						            <!-- bullet navigator item prototype -->
						            <div u="prototype" style="POSITION: absolute;border-radius: 15px; WIDTH: 14px; HEIGHT: 14px; text-align:center; line-height:19px; color:White; font-size:12px;"></div>
						        </div>
						        <!-- Bullet Navigator Skin End -->
						</div>	
					</div>
					<!-- /. Banner -->
				</div>
			</div>
			<!-- /. Header -->	
			<!-- Content -->
		  	<div class="content">
				<div class="slider">
					<h4>Deal of the week </h4>
					<div class="product-carousel" id="product-carousel">						
					    <!-- Wrapper for slides -->
					    <div u="slides" class="slider-content">
				           	<div class="slider-items">
				           		<img u="image" src="images/img5.png" />
				           		<span class="sale">Save 20%</span>
				           		<div class="product-info">
				           			<p class="name-product">Tên sản phẩm</p>
					           		<p>Đăng bởi: </p> <span class="user-post"> member</span>
					           		<p>Giá: </p> <span class="price">199,000₫</span> <span class="price-old">250,000₫</span>
				           		</div>
				           	</div>
				           	<div class="slider-items">
				           		<img u="image" src="images/img2.png" />
				           		<span class="sale">Save 20%</span>
				           		<div class="product-info">
				           			<p class="name-product">Tên sản phẩm</p>
					           		<p>Đăng bởi: </p> <span class="user-post"> member</span>
					           		<p>Giá: </p> <span class="price">199,000₫</span> <span class="price-old">250,000₫</span>
				           		</div>
				           	</div>
				           	<div class="slider-items">
				           		<img u="image" src="images/img1.png" />
				           		<span class="sale">Save 20%</span>
				           		<div class="product-info">
				           			<p class="name-product">Tên sản phẩm</p>
					           		<p>Đăng bởi: </p> <span class="user-post"> member</span>
					           		<p>Giá: </p> <span class="price">199,000₫</span> <span class="price-old">250,000₫</span>
				           		</div>
				           	</div>
				           	<div class="slider-items">
				           		<img u="image" src="images/img2.png" />
				           		<span class="sale">Save 20%</span>
				           		<div class="product-info">
				           			<p class="name-product">Tên sản phẩm</p>
					           		<p>Đăng bởi: </p> <span class="user-post"> member</span>
					           		<p>Giá: </p> <span class="price">199,000₫</span> <span class="price-old">250,000₫</span>
				           		</div>
				           	</div>
				           	<div class="slider-items">
				           		<img u="image" src="images/img4.png" />
				           		<span class="sale">Save 20%</span>
				           		<div class="product-info">
				           			<p class="name-product">Tên sản phẩm</p>
					           		<p>Đăng bởi: </p> <span class="user-post"> member</span>
					           		<p>Giá: </p> <span class="price">199,000₫</span> <span class="price-old">250,000₫</span>
				           		</div>
				           	</div>
				           	<div class="slider-items">
				           		<img u="image" src="images/img3.png" />
				           		<span class="sale">Save 20%</span>
				           		<div class="product-info">
				           			<p class="name-product">Tên sản phẩm</p>
					           		<p>Đăng bởi: </p> <span class="user-post"> member</span>
					           		<p>Giá: </p> <span class="price">199,000₫</span> <span class="price-old">250,000₫</span>
				           		</div>
				           	</div>
				           	<div class="slider-items">
				           		<img u="image" src="images/img5.png" />
				           		<span class="sale">Save 20%</span>
				           		<div class="product-info">
				           			<p class="name-product">Tên sản phẩm</p>
					           		<p>Đăng bởi: </p> <span class="user-post"> member</span>
					           		<p>Giá: </p> <span class="price">199,000₫</span> <span class="price-old">250,000₫</span>
				           		</div>
				           	</div>
				           	<div class="slider-items">
				           		<img u="image" src="images/img4.png" />
				           		<span class="sale">Save 20%</span>
				           		<div class="product-info">
				           			<p class="name-product">Tên sản phẩm</p>
					           		<p>Đăng bởi: </p> <span class="user-post"> member</span>
					           		<p>Giá: </p> <span class="price">199,000₫</span> <span class="price-old">250,000₫</span>
				           		</div>
				           	</div>
				           	<div class="slider-items">
				           		<img u="image" src="images/img3.png" />
				           		<span class="sale">Save 20%</span>
				           		<div class="product-info">
				           			<p class="name-product">Tên sản phẩm</p>
					           		<p>Đăng bởi: </p> <span class="user-post"> member</span>
					           		<p>Giá: </p> <span class="price">199,000₫</span> <span class="price-old">250,000₫</span>
				           		</div>
				           	</div>
				           	<div class="slider-items">
				           		<img u="image" src="images/img2.png" />
				           		<span class="sale">Save 20%</span>
				           		<div class="product-info">
				           			<p class="name-product">Tên sản phẩm</p>
					           		<p>Đăng bởi: </p> <span class="user-post"> member</span>
					           		<p>Giá: </p> <span class="price">199,000₫</span> <span class="price-old">250,000₫</span>
				           		</div>
				           	</div>
				           	<div class="slider-items">
				           		<img u="image" src="images/img1.png" />
				           		<span class="sale">Save 20%</span>
				           		<div class="product-info">
				           			<p class="name-product">Tên sản phẩm</p>
					           		<p>Đăng bởi: </p> <span class="user-post"> member</span>
					           		<p>Giá: </p> <span class="price">199,000₫</span> <span class="price-old">250,000₫</span>
				           		</div>
				           	</div>			      
				        	<!-- Arrow Left -->
					        <span u="arrowleft" class="jssora03l" style="width: 34px;height: 34px;top: 95px; 
	left: 2px;"><</span>
					        <!-- Arrow Right -->
					        <span u="arrowright" class="jssora03r" style="width: 34px;height: 34px;top: 95px; 
	right: 2px">></span>				  
						</div>	
					</div>				
				</div>
				<div class="form-payment" style="display: none;">
	                <div class="payment-step">
	                	<div class="step step-one"><span class="num">1</span><div class="step-content">Chọn <br> <b>Hình thức thanh toán</b></div></div>
	                	<div class="step step-two  step-act"><span class="num">2</span><div class="step-content">Nhập <br> <b>Thông tin cá nhân</b></div></div>
	                	<div class="step step-three"><span class="num">3</span><div class="step-content">Chọn <br> <b>Hình thức nhận hàng</b></div></div>
	                	<div class="step step-four"><span class="num">4</span><div class="step-content">Xác nhận <br> <b>Đơn hàng</b></div></div>
	                </div>
	                <div class="form-payment-detail">
	                	<div class="bl_3_StepInfo">
						  <div class="bl_3_StepInfoBuild_Online">
						    <div class="bl_3_StepInfoOnline_Title">Thông tin liên hệ</div>
						    <div class="bl_3_StepInfoOnline_Contach">
						      <div class="bl_3_StepInfoOnline_Line">
						        <div class="bl_3_StepInfoOnline_LineTitle">Họ và tên:</div>
						        <div class="bl_3_StepInfoOnline_LineText">fghf</div>
						        <div class="c"></div>
						      </div>
						      <div class="bl_3_StepInfoOnline_Line">
						        <div class="bl_3_StepInfoOnline_LineTitle">Điện thoại:</div>
						        <div class="bl_3_StepInfoOnline_LineText">0935234124</div>
						        <div class="c"></div>
						      </div>
						      <div class="bl_3_StepInfoOnline_Line">
						        <div class="bl_3_StepInfoOnline_LineTitle">Email:</div>
						        <div class="bl_3_StepInfoOnline_LineText">tonny8x2@gmail.com</div>
						        <div class="c"></div>
						      </div>
						    </div>
						    <div class="bl_3_StepInfoOnline_Title mTop20">
						      <div>Địa chỉ giao nhận</div>
						    </div>
						    <div class="bl_3_StepInfoOnline_Contach">
						      <div class="bl_3_StepInfoOnline_Line">
						        <div class="bl_3_StepInfoOnline_LineTitle">Địa chỉ:</div>
						        <div class="bl_3_StepInfoOnline_LineText">t</div>
						        <div class="c"></div>
						      </div>
						      <div class="bl_3_StepInfoOnline_Line">
						        <div class="bl_3_StepInfoOnline_LineTitle">Đường/Phố:</div>
						        <div class="bl_3_StepInfoOnline_LineText">g</div>
						        <div class="c"></div>
						      </div>
						      <div class="bl_3_StepInfoOnline_Line">
						        <div class="bl_3_StepInfoOnline_LineTitle">Quận/Huyện:</div>
						        <div class="bl_3_StepInfoOnline_LineText">Pleiku</div>
						        <div class="c"></div>
						      </div>
						      <div class="bl_3_StepInfoOnline_Line">
						        <div class="bl_3_StepInfoOnline_LineTitle">Tỉnh thành:</div>
						        <div class="bl_3_StepInfoOnline_LineText">Gia Lai</div>
						        <div class="c"></div>
						      </div>
						    </div>
						   
						  </div>
						  <div class="c"></div>
						</div>
	                </div>
	                <div class="payment-submit">	                	
                	 	<a class="btn-change" href="#"></a>		                              
	                	<a class="btn-next" href="#"></a>
	                	<a class="btn-back" href="#"></a>  
	                </div>
	            </div>
			</div>
			<!-- /. Content -->

			<!-- Footer -->
			<div class="footer">
				<div class="footer-content">
			  		<div class="footer-items footer-items-add">
			  			<h6>Suport – We're here for you!</h6>
			  			<p class="phone">0935 288 488</p>
			  			<p class="email"> <a href="mailto:hotro@intoidi.com"> hotro@intoidi.com</a></p>
			  			<p class="address">190 Ông ích khiêm - Đà Nẵng</p>
			  		</div>
			  		<div class="footer-items">
			  			<h6>We promise</h6>
			  			<a href="#">30 Day Exchange Policy</a>
			  			<a href="#">Delivery in 3-7 working days</a>
			  			<a href="#">High quality printing</a>
			  			<a href="#">Cards accepted</a>
			  		</div>
			  		<div class="footer-items footer-items-information">
			  			<h6>Information</h6>
			  			<a href="#">Contact us</a>
			  			<a href="#">My orders</a>
			  			<a href="#">Wash Instruction</a>
			  			<a href="#">Sitemap</a>
			  		</div>
			  		<div class="footer-items footer-items-subscribe">
			  			<h6>Our Newsletter</h6>
			  			<input type="text" placeholder="Email" class="subs">
			  			<a href="" class="subscribe">Subscribe</a>
			  		</div>
			  		<div class="footer-items footer-items-social">
			  			<h6>Follow us</h6>
			  			<a href="#" class="face"></a>
			  			<a href="#" class="twi"></a>
			  			<a href="#" class="google"></a>
			  		</div>
			  		<div class="language">
			  			<a href="#" class="vi" title="Vietnamese"></a>
			  			<a href="#" class="en" title="English"></a>
			  		</div>
			  		<a href="#" class="copyright">Copyright © 2014 intoidi.com</a>
				</div>
			</div>
			<!-- /. Footer -->
		</div>
	</div>
</body>
</html>
