{% extends "pages/page.html" %}
{% load mezzanine_tags keyword_tags staticfiles pages_tags shopping_filters %}
{% block all_content %}
<!-- Content -->
  	<div class="content">
		<div class="product">
			<div class="product-menu">
				<h4>Thể Loại 2</h4>
                {% if categories %}
                    {% for category in categories %}
                        {% if forloop.first %}
                            <ul>
                        {% endif %}
                                <li><a href="#">{{ category.name }}</a></li>
                        {% if forloop.last %}
                            </ul>
                        {% endif %}
                    {% endfor %}
                {% endif %}
				<h4>Thể Loại 2</h4>
                {% if categories %}
                    {% for category in categories %}
                        {% if forloop.first %}
                            <ul>
                        {% endif %}
                                <li><a href="#">{{ category.name }}</a></li>
                        {% if forloop.last %}
                            </ul>
                        {% endif %}
                    {% endfor %}
                {% endif %}
				<h4>Thiết Kế Của Thành Viên</h4>
				<ul>
					<li><a href="#">Yêu thích nhất</a></li>
					<li><a href="#">Hình thiết kế</a></li>							
				</ul>
				<h4 class="tit-color">Màu sắc</h4>
                <div class="list-color">
                    {% if color_list %}
                        {% for color in color_list %}
                            <a href="#" style="background: {{ color.name }}"></a>
                        {% endfor %}
                    {% endif %}
                </div>
{#				<div class="list-color">#}
{#					<a href="#" class="cl-brown"></a>#}
{#					<a href="#" class="cl-red"></a>#}
{#					<a href="#" class="cl-orange"></a>#}
{#					<a href="#" class="cl-white"></a>#}
{#					<a href="#" class="cl-purple"></a>#}
{#					<a href="#" class="cl-blue active"></a>#}
{#					<a href="#" class="cl-yellow"></a>#}
{#					<a href="#" class="cl-green"></a>#}
{#					<a href="#" class="cl-green1"></a>#}
{#					<a href="#" class="cl-green2"></a>#}
{#					<a href="#" class="cl-pink"></a>#}
{#				</div>#}
			</div>
			<div class="product-content">
				<h4>MỚI NHẤT / YÊU THÍCH nhất</h4>
				<div class="product-list">
                    {% if products %}
                        {% for product in products %}
                            <div class="product-items">
                                <div class="sale-info">
                                    <span class="new">New</span>
                                    {% if product.unit_price != product.sale_price %}
                                        <span class="sale">Sale</span>
                                    {% endif %}
                                </div>
                                <a href="{% url 'shopping:detail' product.id %}"><img u="image" src="{{ MEDIA_URL }}{{ product_image_list|get_at_index:forloop.counter0 }}"  /></a>
                                <div class="product-info">
                                    <p class="name-product">{{ product.title }}</p>
                                    <p>Đăng bởi: </p> <span class="user-post">{{ product.user }}</span>
                                    {% if product.unit_price != product.sale_price %}
                                        <p>Giá: </p> <span class="price">{{ product.sale_price }}₫</span> <span class="price-old">{{ product.unit_price }}₫</span>
                                    {% else %}
                                        <p>Giá: </p> <span class="price">{{ product.unit_price }}₫</span>
                                    {% endif %}
                                {% with isLiked="is_liked"|add_str:product.id %}
{#                                        {{ request|get_cookies:isLiked }}#}
                                        {{ request|get_session:isLiked }}
                                        {% if user.is_authenticated %}
                                            <button id ="likes" data-productId="{{product.id}}" class="btn btn-mini btn-primary like-button" type="button">Like</button>
                                        {% endif %}
                                {% endwith %}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
{#					<div class="product-items">#}
{#						<a href="#"><img u="image" src="{% static "images/product4.jpg" %}" /></a>#}
{#		           		#}
{#		           		<div class="product-info">#}
{#		           			<p class="name-product">Tên sản phẩm</p>#}
{#			           		<p>Đăng bởi: </p> <span class="user-post"> member</span>#}
{#			           		<p>Giá: </p> <span class="price">199,000₫</span> #}
{#		           		</div>#}
{#					</div>#}
{#					<div class="clear-fix"></div>#}

					<div class="paging">
                        {% for i in products.paginator.num_pages|get_range %}
                            {% if products.number == i %}
                                <a href="javascript:void(0)" class="selected">{{ i }}</a>
                            {% else %}
                                <a href="?page={{ i }}">{{ i }}</a>
                            {% endif %}
                            {% if forloop.last %}
                            {% endif %}
                        {% endfor %}
{#                        <a href="#" class="selected">1</a><a href="#">2</a><a href="#">3</a><a href="#">&gt;</a>#}
                    </div>
				</div>
			</div>
		</div>	
	</div>
	<!-- /. Content -->
    <script>
        $('.like-button').click(function(){
            var productId;
            productId = $(this).attr("data-productId");
            $.ajax({
                url: "{% url 'shopping:like_product' %}",
                type: "GET",
                data: {product_id: productId},
                success: function(data){
                    console.log(data);
                    $('#likes').hide();
                }
            })
        });

    </script>
{% endblock %}