@font-face {
    font-family: 'hel';
    src: url('../fonts/helvetica-neue-regular.eot');
    src: local('helvetica-neue-regular'), 
    url('../fonts/helvetica-neue-regular.ttf') format('truetype');  
}
@font-face {
    font-family: 'hel-light';
    src: url('../fonts/helvetica-neue-light.eot');
    src: local('helvetica-neue-light'), 
    url('../fonts/helvetica-neue-light.ttf') format('truetype');  
}
@font-face {
    font-family: 'hel-bold';
    src: url('../fonts/helvetica-neue-bold.eot');
    src: local('helvetica-neue-bold'), 
    url('../fonts/helvetica-neue-bold.ttf') format('truetype');  
}
body {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
a {
	outline: none;
	text-decoration: none;
	color: #6c6c6c;
}
img {
	border: none;
}
*:hover {
	transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	-ms-transition: all .3s;
}
a:hover {
	color: #094874;
}
input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}
header, section, footer, aside, nav, article, figure {
    display: block; 
}

/*--------------Set default---------------*/
.wrapper {
	margin: 0;
	padding: 0;
	width: 100%;
}
.main {
	width: 100%;
}
.header {
	width: 100%;
	min-width: 1000px;
	background: url('../images/bg.png')  0px -18px;
	padding-bottom: 6px;
}
.shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 1000px;
	z-index: 1;
	height: 632px;
	background: url('../images/shadow.png') no-repeat;
}
.footer {
	width: 100%;
	min-width: 1000px;
	padding-top: 15px;
	background-color: rgb(240, 240, 240);
}
.header-items, .content, .footer-content {
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	z-index: 2;
} 
.footer-content {
	background: url('../images/bg-footer.png') 895px 100% no-repeat;
	position: relative;
}
.footer-items {
	float: left;
	font-family: hel;
	width: 187px;
}
.footer-items-add {
	width: 250px;
}
.footer-items-subscribe {
	width: 250px;
}
.footer-items-social {
	width: 95px;
	float: right;
}
.footer-items-information {
	width: 135px;
}
.footer-items h6 {
	color: #414141;
	font-size: 14px;
	font-weight: normal;
	padding: 0 0 15px 0;
	margin: 0;
}

.footer-items p {
	margin: 0;
	height: 35px;
	line-height: 32px;
	padding-left: 40px;
	color: #6c6c6c;
	font-size: 13px;
	text-align: left;
}
.footer-items a {
	color: #6c6c6c;
	font-size: 13px;
	float: left;
	clear: both;
	margin: 0 0 10px 0;
}
.footer-items-social a {
	float: left;
	width: 24px;
	height: 24px;
	margin-top: 3px;
	clear: none;
	margin-right: 7px;
	background: url('../images/social.png') no-repeat;
}
.footer-items-social a.face {
	background-position: 0 0;
}
.footer-items-social a.twi {
	background-position: -31px 0px;
}
.footer-items-social a.google {
	background-position: -62px 0px;
}
.footer-items-add p a {
	margin-bottom: 0;
}
.footer-items a:hover {
	color: #094874;
}	
.footer-items-add p.phone {
	background: url('../images/address.png') 2px 0 no-repeat;
}
.footer-items-add p.email {
	background: url('../images/address.png') 2px -36px no-repeat;
}
.footer-items-add p.address {
	background: url('../images/address.png') 2px -70px no-repeat;
}
.footer-items input.subs {
	width: 165px;
	height: 20px;
	line-height: 20px;
	padding: 2px 75px 2px 5px;
	font-size: 12px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: solid 1px #e0e0e0;
}
.footer-items .subscribe {
	float: right;
	top: -26px;
	width: 70px;
	position: relative;
	height: 24px;
	line-height: 22px;
	right: 4px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #c3c3c3;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #b3b3b3;
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.copyright {
	display: block;
	clear: both;
	text-align: right;
	font-size: 13px;
	padding: 0px 0 15px;
	margin-right: 103px;
}
.language {
	position: absolute;
	bottom: 35px;
	right: 0;
	height: 24px;
}
.language a {
	float: left;
	height: 22px;
	width: 31px;
	margin-left: 5px;
	background: url('../images/lang.png') no-repeat;
}
.language a.en {
	background-position: -39px 0;
}
/*--------------End Set default------------*/

/*--------------content---------------*/
.logo {
	float: left;
	margin-top: 10px;
}
.nav {
	float: right;
}
.nav ul {
	margin: 0;
	padding: 0;
}
.nav ul li {
	display: inline-block;
	color: #fff;
	padding: 15px 0;
}
.nav ul li a {
	text-transform: capitalize;
	font-size: 13px;
	padding: 0 8px;
	color: #fff;
}
.nav ul li a:hover {
	color: #094874;
}
.nav ul li a span.cart-count {
	color: #f7941d;
}
.nav ul li:last-child a {
	padding-right: 0;
}

/*----------Banner---------*/
.banner {
	width: 100%;
	height: 603px;
	clear: both;
	margin-top: 10px;
	display: inline-block;
}
.banner-content {
	position: relative; 
	margin: 0 auto;
    top: 0px; 
    left: 0px; 
    width: 587px; 
    height: 592px; 
    overflow: hidden;
}
.banner-content-items {
	cursor: move; 
	position: absolute; 
	left: 0px; 
	top: 0px; 
	width: 587px;
    height: 592px; 
    overflow: hidden;
}
.banner .banner-info {
	float : left;
	width: 400px;
	padding: 110px 0 0 20px;
	font-family: hel-light;
}
.banner-info h2 {
	color: #fff;
	font-size: 44px;
	font-weight: normal;
	margin: 0 0 5px 0;
	padding: 0;
}
.banner-info span {
	color: #fff;
	font-size: 26px;
	display: block;
}
.banner-info a.start-design {
	float: left;	
	margin-top: 10px;
	position: relative;
	height: 39px;
	line-height: 39px;
	text-align: center;
	font-size: 15px;
	font-family: hel-bold;
	font-weight: bold;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	color: #a05a00;
	padding: 4px 15px;
	border: 1px solid #fca50f;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background-color: #ffbe15;
	background-image: -moz-linear-gradient(top, #fed12e, #ffb003);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fed12e), to(#ffb003));
	background-image: -webkit-linear-gradient(top, #fed12e, #ffb003);
	background-image: -o-linear-gradient(top, #fed12e, #ffb003);
	background-image: linear-gradient(to bottom, #fed12e, #ffb003);
	background-repeat: repeat-x;
	border-color: #ffbe15 #ffbe15 #ffbe15;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(254, 230, 67, 0.7), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(254, 230, 67, 0.7), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 1px 1px 0 rgba(254, 230, 67, 0.7), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.banner-info a.start-design:hover {
	color: #094874;
}
.info-detail {
	margin-bottom: 215px;
}
.banner-info p {
	margin: 0;
	padding: 0;
}
.banner-info p.free-ship {
	color: #fff;
	font-size: 18px;
}
.banner-info p.order {
	color: #bebebe;
}
.banner .banner-img {
	margin-left: 420px;
}
.jssorb21 {
	position: absolute; 
	bottom: 10px; 
	left: 0px!important;
}
.jssorb21 div {
    background: #c7c7c7;
    overflow:hidden;
    cursor: pointer;
}
.jssorb21 div:hover {
	background: #a1a1a1;
}							            							            
.jssorb21 .av {  background: #a1a1a1; }
.jssorb21 .dn, .jssorb21 .dn:hover { background: #a1a1a1;}
.shirt-logo {
	position: absolute; width: 275px; height: 346px; top: -5px; left: 7px;
}
.banner-color {
	position: absolute; width: 135px; height: 58px; top: 160px; left: -44px;
}
.banner-mouse {
	position: absolute; width: 16px; height: 25px; top: 190px; left: 11px;
}

/*-------------End Banner--------------*/
 /* --------------- Slider Deal Product WEEK ------------------*/
.slider {
	margin: 0;
	padding: 15px 0 35px 0;
	font-family: hel;
}
.slider h4 {
	color: #094874;
	font-weight: normal;
	font-size: 20px;
	margin: 15px 0;
	padding-left: 20px;
}
.product-carousel {
	position: relative; 
	top: 0px; 
	left: 20px; 
	width: 960px; 
	height: 300px!important; 
}
.product-carousel > div {
	transform: scale(1)!important;
}
.slider-content {
	cursor: move; 
	position: absolute; 
	left: 0px; 
	top: 0px; 
	width: 960px; 
	height: 300px; 
	overflow: hidden;
}

.jssorb03 div, .jssorb03 div:hover, .jssorb03 .av
{
    overflow:hidden;
    cursor: pointer;
}
.jssorb03 div { background-position: -5px -4px; }
.jssorb03 div:hover, .jssorb03 .av:hover { background-position: -35px -4px; }
.jssorb03 .av { background-position: -65px -4px; }
.jssorb03 .dn, .jssorb03 .dn:hover { background-position: -95px -4px; }
 
.jssora03l, .jssora03r, .jssora03ldn, .jssora03rdn
{
	position: absolute;
	cursor: pointer;
	display: block;
    overflow:hidden;
}
.jssora03l:hover { background: #eb1c24; }
.jssora03r:hover { background: #eb1c24; }
.slider-items {
	z-index: -1;
}
.slider-items img {
	border: solid 1px #ccc;
	width: 169px;
	height: 232px!important;
}
.slider-items .sale {
	position: absolute;
	top: 9px; 
	left: 9px;
	width: 46px;
	height: 40px;
	padding-top: 6px;
	line-height: 18px;
	background: #eb1c24;
	color: #fff;
	font-size: 13px;
	text-align: center;
}
.slider-items .product-info {
	position: absolute;
	width: 100%;
	top: 236px;
	font-size: 13px;
}
.slider-items .product-info p {
	margin: 0;
	padding: 0;
	float: left;
	clear: both;
	color: #000;
}
.slider-items .product-info p.name-product {
	width: 100%;
	margin-top: 5px;
}
.slider-items .product-info span.user-post {
	float: left;
	color: #30a5e2;
	margin-left: 5px;
}
.slider-items .product-info span.price, .slider-items .product-info span.price-old {
	float: left;
}
.slider-items .product-info span.price {
	font-weight: bold;
	color: #eb1c24;
	padding: 0 7px;
}
.slider-items .product-info span.price-old {
	text-decoration: line-through;
	color: #999;
}
.jssora03ldn, .jssora03rdn {
	top: 96px!important; 
	color: #fff;
	text-align: center;
	line-height: 30px;
	width: 34px; 
	height: 34px; 
	background: #eb1c24;
}
.slider-content:hover .jssora03l, .slider-content:hover .jssora03r{
	display: block!important;
}
.jssora03l {
	width: 34px; 
	height: 34px; 
	top: 95px!important; 
	left: 2px;
	background: #b6b6b6;
	color: #fff;
	text-align: center;
	line-height: 30px;
	display: block!important;
}
.jssora03r {
	width: 34px; 
	height: 34px; 
	top: 95px!important; 
	right: 2px;
	background: #b6b6b6;
	color: #fff;
	text-align: center;
	line-height: 30px;
	display: block!important;
}
/* ---------------End  Slider Deal Product WEEK ------------------*/

/*--------------End content---------------*/